<!-- <app-search></app-search> -->
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="noencontrada">
        <h1>Página NO encontrada !</h1>
        <h2>No se puede encontrar la página que está buscando.</h2>
        <p class="-pvs -ws-pl -lh-15">
          Pero tenemos otros items que pueden ser de su interés!
        </p>

        <button class="botonhome" mat-raised-button color="primary" onclick="location.href='/'">
          IR A LA PAGINA de INICIO
        </button>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <img
        src="../../../../assets/img/noencontrada.svg"
        style="max-width: 100%; height: auto"
        alt=""
      />
    </div>
  </div>
</div>
