* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.cont{
  height: 700px;
}

.form-box {
    width: min(30rem, 100%);
    height: 450px;
    background: #78baeb;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 4px;
    font-family: 'Roboto';
    color: rgb(5, 3, 3);
    box-shadow: 7px 13px 37px #000000;
}

.transfor {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #0a6bf2;
    font-family: 'roboto';
    font-size: 18px;
    color: #ffffffff;
}

.form-box .btn{
  width: min(30rem, 100%);
  margin: 30px auto;
  padding: 15px 10px;
}

p {
    height: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    display: block;
}

.enlace {
    color: #0a6bf2;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

@media (max-width: 430px) {

    .form-box {
        height: 400px;
    }

    .btn{
        width: 100%;
    }

    .enlace {
        margin: 20px;
    }
}

.resultado {
    font-size: 22px;
    text-align: center;
    
    }

.usuario {
    font-size: large;
    text-align: center;
}    
.contraseña {
    font-size: large;
    text-align: center;

}