<div class="cont form-box">
    <!-- ¿logo de la óptica? -->
    <h1 class="form-title">Iniciar sesión</h1>
    <form [formGroup]="loginForm"  (ngSubmit)="login()" >
        <input formControlName="username" type="text" placeholder="Usuario" class="transfor" required minlength="5" maxlength="30"> <!--ngModel-->
        <div class="invalid-feedback">
          Por favor ingrese su nombre de usuario (entre 5 y 30 caract.)<br><br>
        </div>
        <input formControlName="password" type="password" placeholder="Contraseña" class="transfor" required minlength="8" maxlength="80"> <!--ngModel-->
        <div class="invalid-feedback">
          Por favor ingrese su contraseña (entre 8 y 80 caract.)<br><br>
        </div>
        <!--<a href="dashboard"> </a>-->
        <a class="nav-link" routerLink="/productos"><button type="submit" class="btn btn-azul">Ingresar</button></a>
        <!--<a class="nav-link" routerLink="/login" class="nav-link text-info" href="login">-->
    </form>
    <p>¿No tiene una cuenta? Entrar en
      <a class="enlaces-negros" href="registro"> Registrarse</a>
    </p>
</div>
