<section class="contenedor">
    <!-- Contenedor de productos? -->
    <div class="contenedor-items">
        <div class="item">
            <span class="titulo-item">Lentes de Sol</span>
            <img src="assets/img/lente de sol.jpg" alt="" class="img-item">
            <span class="precio-item">$12.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="contenedor-items">
            <div class="item">
                <span class="titulo-item">Lentes Bluefilter</span>
                <img src="assets/img/lentes bluefilter.jpg" alt="" class="img-item">
                <span class="precio-item">$15.000</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
    </div>