<p>Indice del Dashboard</p>

<p>
    <li>
        <a href="http://localhost:4200/carrito" target="/carrito">
            <img src="assets/img/iconos/anadir-al-carrito.png" alt="Carrito de compras" title="Carrito de Compras"/>
          </a>
        <a href="http://localhost:4200/pago" target="/pago">
            <img src="assets/img/iconos/billetera.png" alt="Realizar pago" title="Realizar pago"/>
          </a>
          <a href="http://localhost:4200/calendario" target="/calendario">
            <img src="assets/img/iconos/calendario.png" alt="Realizar una cita" title="Agendar cita"/>
          </a>
          <a href="http://localhost:4200/servicio" target="/servicio">
            <img src="assets/img/iconos/examen-de-la-vista.png" alt="Examen visual" title="Agendar examen visual"/>
          </a>
          <a href="http://localhost:4200/productos" target="/productos">
            <img src="assets/img/iconos/lentes.png" alt="Ver nuestro catálogo" title="Ver nuestro catálogo"/>
          </a>
        <a href="http://localhost:4200/contacto" target="/contacto">
            <img src="assets/img/iconos/servicio-al-cliente.png" alt="Contactarse con nosotros" title="Contactate con nosotros"/>
          </a>
          <a href="http://localhost:4200/mis-compras" target="/mis-compras">
            <img src="assets/img/iconos/tarjeta-de-credito.png" alt="Ver mis compras" title="Revisar mis compras"/>
          </a>
    </li>
</p>