*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

ul{
  list-style: none;
}


.sidebar{
  top: 0;
  bottom: 0;
  height: 90vh;
  left: 0;
  background-color: white;
  width: 90px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
}

.foto_perfil{
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  margin: 10px 0 0 10px;
}

.foto_perfil img{
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

a:link, a:visited{text-decoration: none;}

.foto_perfil span{
  font-weight: bold;
  padding: 20px;
  padding-top: 10px;
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}


a{
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 15px;
  display: table;
  width: 300px;
  padding: 10px;
}

span:hover{
  color: rgb(8, 65, 221);
  cursor: pointer;
}

.bi{
  position: relative;
  width: 70px;
  margin-left: 10px;
  height: 40px;
  top: 14px;
  font-size: 40px;
  text-align: center;
  color: rgb(30,81,110);
}

.menu_item{
  position: relative;
  top: 12px;
  margin-left: 50px;
  color: black;
  font-size: 20px;
  font-weight: 400;
}

a:hover{
  background-color: rgba(175, 205, 207, 0.181);
  color: blue;
}

.sidebar:hover{
  width: 280px;
  transition: all 0.5s ease;
}

.salir{
  bottom: 0;
}