<section class="contenedor">
    <!-- Contenedor de elementos -->
    <div class="contenedor-items">
        <div class="item">
            <span class="titulo-item">Lentes de Sol</span>
            <img src="assets/img/lente de sol.jpg" alt="" class="img-item">
            <span class="precio-item">$12.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Lentes con filtro azul</span>
            <img src="assets/img/lentes bluefilter.jpg" alt="" class="img-item">
            <span class="precio-item">$15.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Lentes de cerca</span>
            <img src="assets/img/lentes de cerca.jpg" alt="" class="img-item">
            <span class="precio-item">$22.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Lentes de Lejos</span>
            <img src="assets/img/lentes de lejos.jpg" alt="" class="img-item">
            <span class="precio-item">$25.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Lentes para Niño</span>
            <img src="assets/img/lentes de niño.jpg" alt="" class="img-item">
            <span class="precio-item">$15.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Lentes Multifocal</span>
            <img src="assets/img/lentes multifocal.jpg" alt="" class="img-item">
            <span class="precio-item">$30.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Gafas de natacion</span>
            <img src="assets/img/gafas natacion.jpg" alt="" class="img-item">
            <span class="precio-item">$54.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Gafas deportivas con o sin graduacion</span>
            <img src="assets/img/gafas deportivas.jpg" alt="" class="img-item">
            <span class="precio-item">$32.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Gafas de proteccion</span>
            <img src="assets/img/gafas de proteccion.jpg" alt="" class="img-item">
            <span class="precio-item">$42.800</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
    </div>
    <!-- Carrito de Compras -->
    <div class="carrito" id="carrito">
        <div class="header-carrito">
            <h2>Tu Carrito</h2>
        </div>
        <div class="carrito-items">

        </div>
        <div class="carrito-total">
            <div class="fila">
                <strong>Tu Total</strong>
                <span class="carrito-precio-total">
                    $0.000,00
                </span>
            </div>
            <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i> </button>
        </div>
    </div>
</section>
