<h1>Bienvenido al dashboard del administrador</h1>

<h2>Iconos de prueba</h2> 
<p>
    <li>
        <img src="ISPC-ProgramadorWeb-PI\frontend\temiro_angular\src\assets\img\iconos/anadir-al-carrito.png">
        <img src="ISPC-ProgramadorWeb-PI\frontend\temiro_angular\src\assets\img\iconos\iconos/billetera.png">
        <img src="ISPC-ProgramadorWeb-PI\frontend\temiro_angular\src\assets\img\iconos\iconos/calendario.png">
        <img src="ISPC-ProgramadorWeb-PI\frontend\temiro_angular\src\assets\img\iconos\iconos/cita.png">
        <img src="ISPC-ProgramadorWeb-PI\frontend\temiro_angular\src\assets\img\iconos\iconos/cita2.png">
        <img src="ISPC-ProgramadorWeb-PI\frontend\temiro_angular\src\assets\img\iconos/examen-de-la-vista.png">
        <img src="ISPC-ProgramadorWeb-PI\frontend\temiro_angular\src\assets\img\iconos/lentes.png">
        <img src="ISPC-ProgramadorWeb-PI\frontend\temiro_angular\src\assets\img\iconos/servicio-al-cliente.png">
        <img src="ISPC-ProgramadorWeb-PI\frontend\temiro_angular\src\assets\img\iconos/tarjeta-de-credito.png">
    </li></p> 