<h1>Bienvenido al dashboard del administrador</h1>

<h2>Iconos de prueba</h2> 
<p>
<ul>
    <li>
    <img src="D:\Ale archivos\proyecto ispc\ISPC-ProgramadorWeb-PI\frontend\temiro_angular\src\assets\img\iconos/anadir-al-carrito.png">
    <img src="D:\Ale archivos\proyecto ispc\ISPC-ProgramadorWeb-PI\frontend\temiro_angular\src\assets\img\iconos/billetera.png">
    <img src="D:\Ale archivos\proyecto ispc\ISPC-ProgramadorWeb-PI\frontend\temiro_angular\src\assets\img\iconos/calendario.png">
    <img src="D:\Ale archivos\proyecto ispc\ISPC-ProgramadorWeb-PI\frontend\temiro_angular\src\assets\img\iconos/cita.png">
    <img src="D:\Ale archivos\proyecto ispc\ISPC-ProgramadorWeb-PI\frontend\temiro_angular\src\assets\img\iconos/cita2.png">
    <img src="D:\Ale archivos\proyecto ispc\ISPC-ProgramadorWeb-PI\frontend\temiro_angular\src\assets\img\iconos/examen-de-la-vista.png">
    <img src="D:\Ale archivos\proyecto ispc\ISPC-ProgramadorWeb-PI\frontend\temiro_angular\src\assets\img\iconos/lentes.png">
    <img src="D:\Ale archivos\proyecto ispc\ISPC-ProgramadorWeb-PI\frontend\temiro_angular\src\assets\img\iconos/servicio-al-cliente.png">
    <img src="D:\Ale archivos\proyecto ispc\ISPC-ProgramadorWeb-PI\frontend\temiro_angular\src\assets\img\iconos/tarjeta-de-credito.png">
</ul></li></p>

<app-formu-productos></app-formu-productos>