<div class="container">
  <div class="editar_foto">
      <p>Editar Foto de usuario</p>
      <img class="foto" src="./assets/img/fotoperfil.jpg" alt="perfil" id="img">
      <label class="lbl_foto" for="">Elegir nueva foto de usuario:</label>
      <input class="inp_foto" type="file" name="foto" id="foto" accept="img">
      <label for="foto"></label>
  <hr>
  </div>
  <div class="editar_perfil">
      <p>Cambiar Información de Usuario</p>
      <div class="form">

          <form action="">
              <label for="apellido">Apellido:</label>
              <input type="text" name="apellido" autocomplete="off">

              <label for="nombre">Nombre:</label>
              <input type="text" name="nombre" autocomplete="off">

              <label for="email">Email:</label>
              <input type="email" name="email" autocomplete="off">

              <label type="text">Departamento:</label>
              <input type="text" name="Departamento" autocomplete="off">

              <label type="text">Ciudad:</label>
              <input type="text" name="ciudad" autocomplete="off">

              <label type="text">Provincia:</label>
              <input type="text" name="provincia" autocomplete="off">

              <label type="password">Nueva Contraseña:</label>
              <input type="password" name="password" autocomplete="off">

              <label type="password">Repetir Contraseña:</label>
              <input type="password" name="password" autocomplete="off">


          </form>
          <div class="botones">
              <button class="btn_guardar">Guardar Cambios</button>
              <button class="btn_guardar">Cancelar</button>
          </div>
      </div>
  </div>
</div>
