<!--<div *ngFor="let products of producto; index as productoId">

    <h3>
      <a [title]="products.nombre + ' details'" [routerLink]="['/products', productoId]">
        {{ products.nombre }}
      </a>
    </h3>
    
    <button >
        Agregar al Carrito
      </button>
    

</div>-->


<section class="contenedor" >
    <!--Contenedor de productos -->
    <div class="contenedor-items" *ngFor="let products of producto; index as productoId">
        <h3 style="text-align: center;">
            <a [title]="products.nombre + ' details'" [routerLink]="['/products', productoId]">
                    {{ products.nombre }}</a>
        </h3>
            <img src="{{products.img}}" alt="" class="img-item">
            <h4 style="text-align: center;"><b>$ {{products.precio}}</b></h4>
            <div class="dispon">
                <p>Producto {{products.Stock}}</p>
                <p>Unidades en Stock: {{products.unidades}}</p>
            </div>
            <button class="boton-item" routerLink="">Agregar al Carrito</button>
    </div>
</section>
       <!--    </div>
        <div class="contenedor-items">
            <div class="item">
                <span class="titulo-item">Lentes Bluefilter</span>
                <img src="assets/img/lentes bluefilter.jpg" alt="Lentes Filtro Azul" class="img-item">
                <span class="precio-item">$15.000</span>
                <button class="boton-item" (click)="clickDetalles2()">Características</button>
            </div>
        </div>
        <div class="contenedor-items">
            <div class="item">
                <span class="titulo-item">Gafas de Natación</span>
                <img src="assets/img/gafas natacion.jfif" alt="Gafas De Natación" class="img-item">
                <span class="precio-item">$54.000</span>
                <button class="boton-item" (click)="clickDetalles3()">Características</button>
            </div>
        </div>
        <div class="contenedor-items">
            <div class="item">
                <span class="titulo-item">Lentes de Lejos</span>
                <img src="assets/img/lentes de lejos.jpg" alt="" class="img-item">
                <span class="precio-item">$25.000</span>
                <button class="boton-item" (click)="clickDetalles4()">Características</button>
            </div>
        </div>  -->

   