.contenedor {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 2fr);
    column-gap: 20px;
    row-gap: 20px;
    justify-self: center;
    align-self: center;
}

.contenedor-items {
    width: 85%;
    text-align: center;
    border: 1.5px solid black;
    border-radius: 10px;
    transition: .3s;
}

.contenedor-items:hover {
    box-shadow: 0 0 10px #676464;
    scale: 1.05;
}

h3 {
    margin-top: 20px;
}

.img-item {
    width: 70%;
    height: 70%;
    text-align: center;
    margin: auto;
}

h4 {
    font-size: 170%;
}

.dispon {
    font-size: small;
    line-height: 5px;
}

.boton-item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: none;
    background-color: rgb(3, 72, 246);
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
