<section class="contenedor" >
    <!--Contenedor de productos -->
    <div class="contenedor-items" *ngFor="let p of prodFront; index as idproducto">
        <h3><a [title]="'Detalle de ' + p.descripcion" [routerLink]="['/products', p.idproducto]">{{ p.descripcion }}</a></h3>
        <img src="{{p.imagen}}" alt="" class="img-item">
        <h4 style="text-align: center;"><b>$ {{p.precio}}</b></h4>
        <div class="dispon">
            <p>Producto {{p.stock}}</p>
            <p>Categoría: {{p.categoria}}</p>
        </div>
        <button class="boton-item" [routerLink]="['/products', p.idproducto]">Ver Detalle</button>
    </div>
</section>

