:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 8px 0;
}

p {
  text-align: center;
  padding: 8px;
}

.content {
  display: flex;
  margin: 50px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
}

.card-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
  margin: 0 0 1em;
  padding: 1em;
}

.desplegables {
  width: 960px;
}

.pregunta,
.respuesta_obtenida {
  padding: 14px 20px;
}

.pregunta {
  display: block;
  color:#ffffff;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: 0.1s;
  background-color: #0a6bf2;
  margin: 0 0 1em;
  text-align: center;
}

.pregunta {
  background: rgba (0, 0, 0, 0.1);
}

.pregunta::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
}

.pregunta::after {
  transform: translateY(-50%) rotate(0.5turn);
}