<div class="content" role="main">
  <h1>PREGUNTAS FRECUENTES</h1>
  <p>Haz click en la pregunta de tu interés
  <br>y la respuesta se desplegara en la pantalla.</p>
  <input type="hidden" #selection>
  <div class="card-container">
    <div class="desplegables">
      
    <details>
      <summary class="pregunta">¿Cómo pagar mi compra?</summary>
      <p>Podes pagar con cualquiera de estos medios y tu compra va a estar 100% protegida.
        <br>Y si el producto no es lo que esperabas, te devolveremos el dinero.
        <br>
        <br>Elegí entre alguna de estas formas de pago...
        <br>
        <br>- Tarjeta de crédito: Visa, Mastercard, Nativa (hasta 6 pagos sin interés);
        <br>- Tarjeta de débito: Visa, Mastercard, Nativa (hasta 6 pagos sin interés);
        <br>- Efectivo con Pago Fácil o Rapipago (en 1 pago). </p>
   </details>

   <details>
      <summary class="pregunta">¿Cómo recibir o retirar mi producto?</summary>
      <p>Podes recibir el producto en tu domicilio mientras estés ubicado dentro de la Argentina.
        <br>Calculas el costo y tiempo de envío desde la compra, y luego pagas todo junto.
        <br>Otra opción es retirar el producto en nuestra sucursal o por Correo Argentino,
        <br>a través de una persona designada, la cual debe presentar su DNI y
        <br>el código de seguimiento que figura en el email de "envío" o en tu cuenta.
        <br>Y también puede hacer el retiro cualquier mayor de edad, en caso de que la persona
        <br>designada no pueda hacerlo, con la siguiente documentación a presentar…
        <br>
        <br>DNI + Fotocopia del DNI de la persona designada + El código de seguimiento +
        <br>El mail de aviso de paquete en sucursal impreso + El formulario de autorización completo.</p>
   </details>

   <details>
      <summary class="pregunta">¿Cómo protegen a los compradores?</summary>
      <p>Si tuvieras algún problema con la compra, estaremos ahí para ayudarte.
        <br>Lo primero que debes hacer es: Iniciar un "reclamo" a través de la sección
        <br>"contacto" dejando un "mesaje" para solucionar la cuestión, lo antes posible.
        <br>Si completaste el pago desde nuestro sitio y llegas a tener una dificultad,
        <br>te devolvemos el 100% del dinero. Porque tu compra siempre debe ser segura.</p>
   </details>

   <details>
    <summary class="pregunta">¿Cómo funciona el beneficio de envíos gratis?</summary>
    <p>Si ya sos cliente registrado, que compraste en otra oportunidad en nuestra tienda online y
      <br>superas los $50.000 en la compra de nuevos productos, tienes el beneficio del "envío sin cargo".</p>
 </details>

 <details>
    <summary class="pregunta">¿Cómo hacer una cancelación de compra?</summary>
    <p>Si la compra está en preparación, podes cancelarla desde el estado de la compra.
      <br>Si la compra ya está en camino, podes rechazarla cuando llegue o no retirarla del correo.
      <br>Si elegiste envío a domicilio, cuando el paquete llegue, pídele al transportista que se lo lleve de vuelta.
      <br>Si elegiste retirar en la sucursal, no vayas a buscar el paquete.
      <br>Si ya recibiste la compra, podes devolverla.</p>
 </details>

 <details>
    <summary class="pregunta">¿Cómo hacer una devolución de producto?</summary>
    <p>Podrás hacer una devolución del producto que compraste, siempre y cuando,
      <br>este en excelentes condiciones y empaquetado, además de realizar el pedido de "devolución"
      <br>como "mensaje" a través de la sección "contacto" dentro de las 48 horas hábiles desde que
      <br>recibes dicho paquete. Luego, te contactaremos por email o telefónicamente para darte un
      <br>"código" el cual te respaldara para entregar el producto en el local o para que
      <br>un transportista de nuestro negocio lo pase a buscar en tu domicilio.
      <br>Y te devolvemos el 100% del costo de la compra realizada.</p>
 </details>

</div>
