<section>
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="./assets/img/imgdelcentro.jpg" alt="Imagen principal">
        </div>           
        <div class="overlay">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-6 offset-md-6 text-center text-md-right">
                <h1>Tenemos para ofrecerte múltiples opciones para que tu 
                  mirada este saludable</h1>
                
                   
                  Nuestros profesionales pondrán a tu disposición
                  todos sus conocimientos
                  No te quedes sentado, ven a buscar tu mejor opción
                  Hace que tus ojos brillen mas que nunca. 
                  ¡Estamos para ayudarte!
                <p></p>
                <!--<a href="#" class="btn btn-outline-light" data-toggle="modal">Productos</a>
                <button type="button" class="btn btnlogin" href= "./login.html" data-target="#modallogin">Ingresar</button>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>      
  </section>


  
  