
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

.bodyContacto {
    width: min(45rem , 100%);
    background: #78baeb;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-family: 'Roboto';
    color: rgb(5, 3, 3);
    box-shadow: 7px 13px 37px #000000;
}

.titulo{
  text-align: center;
  font-weight: 600;
}

.mainContacto {
    width: 40rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.formContacto {
  width: 90%;
  margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 100%;
}

.checkbox {
    margin:20px 0;
}

.enviar {
    width: 150px;
    padding: 15px 0;
    font-size: 15px;
    font-weight: bold;
    color:white;
    background: #0a6bf2;
    border:none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;
    margin-left: 230px;
}


.input-padron{
  width: 100%;
}

.tableContacto {
    margin: 30px 30px;
}

thead {
    background: #555555;
    color:white;
    font-weight: bold;
}

td,th {
    border: 1px solid #000000;
    padding: 4px 10px;
}
