
*{
    margin: 0;
    padding: 0;
    margin-bottom: 6px;
    box-sizing: border-box;
}

.titulo{
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.bodyContacto {
    width: min(30rem , 100%);
    background: #ffffff;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 4px;
    font-family: 'Roboto';
    color: rgb(5, 3, 3);
    box-shadow: 7px 13px 37px #000000;
}



.mainContacto {
    width: 40rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.formContacto {
  width: 90%;
  margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 100%;
}

.checkbox {
    margin:20px 0;
}


.input-padron{
  width: 100%;
}

.tableContacto {
    margin: 30px 30px;
}

thead {
    background: #555555;
    color:white;
    font-weight: bold;
}

td,th {
    border: 1px solid #000000;
    padding: 4px 10px;
}
