
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

.bodyContacto {
    display: block;
    margin: 8px;
}

.mainContacto {
    width: 940px;
    margin: 0 auto;
    display: block;   
}

.formContacto {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin:20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: orange;
    border:none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
}

.tableContacto {
    margin: 40px 40px;
}

thead {
    background: #555555;
    color:white;
    font-weight: bold;
}

td,th {
    border: 1px solid #000000;
    padding: 8px 15px;
}
