*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: flex;

  margin: 10px 0 0 5px;
}

.body{
  height: 80%;
  line-height: 20px;
  width: 100%;
}

.navbar{
  background-color: #e3f2fd;
}

.bi{
  font-size: 40px;
  padding: 20px;
  margin-left: 20px;
}

.navbar-collapse{
  align-items: center;
  justify-content: space-between;
}
