<section class="edit">
    <h2 style="text-align: center;">EDITAR LISTA DE PRODUCTOS</h2>
    <form>
        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="name" placeholder="Nombre del Producto">
        </div>
        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">id</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="id" placeholder="Id del Producto">
        </div>
        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">category</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="category" placeholder="Categoría del Producto">
        </div>
        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">identifier</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="identifier" placeholder="Identificador del Producto">
        </div>
        <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="description" placeholder="Descripción del Producto"></textarea>
        </div>
        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">price</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="price" placeholder="Precio del Producto">
        </div>
        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Stock</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="Stock" placeholder="Ingrese Disponibilidad">
        </div>
        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">img</label>
        <input class="form-control" id="exampleFormControlInput1" formControlName="img" placeholder="Enlace de la Imagen del Producto">
        </div>
        <div class="col-12">
        <button class="btn btn-primary" type="submit" onclick="onSubmit()">Agregar Producto</button>
        <button class="btn btn-primary" type="submit">Eliminar Producto</button>
        </div>
    </form>
</section>

    