<section class="edit">
    <h2 style="text-align: center;">EDITAR LISTA DE PRODUCTOS</h2>
    <form>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">IdProducto</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" formControlName="name" placeholder="Id del Producto">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Descripcion</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="description" placeholder="Descripción del Producto"></textarea>
        </div>
        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">IdTipoProducto</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="id" placeholder="Id del Tipo de Producto">
        </div>
        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">PrecioCosto</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" formControlName="category" placeholder="Costo del Producto">
        </div>
        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Precio</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" formControlName="identifier" placeholder="Precio del Producto">
        </div>
        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Fecha de Ingreso</label>
        <input type="date" class="form-control" id="exampleFormControlInput1" formControlName="price" placeholder="Fecha de Ingreso del Producto">
        </div>
        <div class="col-12">
        <button class="btn btn-primary" type="submit" onclick="onSubmit()">Agregar Producto</button>
        <button class="btn btn-primary" type="submit">Eliminar Producto</button>
        </div>
    </form>
</section>

    