<div>
  <nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" href="Home">
          <img src="./assets/img/marcaoptica.jpg" alt="logo óptica">
              Óptica Temiro
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="quienes-somos">¿Quiénes Somos?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="carrito">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contacto">Contacto</a>
            </li>
            <li class="nav-item">
              <!-- en li *ngIf="!estaLogueado()"-->
              <a class="nav-link" routerLink="/login" class="nav-link text-info" href="login">Ingresar</a>
            </li>
            <!-- <li class="nav-item" *ngIf="estaLogueado()">
              <a class="nav-link" (click)="logout()" ó routerLink="/" class="nav-link text-info" href="logout">Salir</a>
            </li>-->
            <li class="nav-item">
              <a class="nav-link text-info" href="registro" data-target="#modallogin">Registrarse</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-info" href="carrito" data-target="#modallogin">Carrito de Compras</a>
            </li>
          </ul>
        </div>
    </div>
  </nav>
</div>
