
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">
        <img src="./assets/img/marcaoptica.jpg" width="80px" alt="logo ópticaTeMiro">
      </a>
      <ul class="navbar-nav d-flex justify-content-center align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="quienes-somos">¿Quiénes Somos?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="servicios">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contacto">Contacto</a>
        </li>
        <li class="nav-item">
          <!-- en li *ngIf="!estaLogueado()"-->
          <a class="nav-link" routerLink="/login" class="nav-link text-info" href="login">Ingresar</a>
        </li>
        <!-- <li class="nav-item" *ngIf="estaLogueado()">
          <a class="nav-link" (click)="logout()" ó routerLink="/" class="nav-link text-info" href="logout">Salir</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link text-info" href="registro" data-target="#modallogin">Registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="carrito" data-target="#modallogin">Carrito de Compras</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
