<!DOCTYPE html>  
<html lang="en">  
  <head>  
        <meta charset="UTF-8">  
        <title>Un producto</title>  
        {% load static %}  
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
  </head>  
  <body>  
    <form method="POST" class="post-form" action="/admintm/prod">  
            {% csrf_token %}  
      <div class="container">  
      <br>  
        <div class="form-group row">  
        <label class="col-sm-1 col-form-label"></label>  
        <div class="col-sm-4">  
        <h3>Ingresar Detalle</h3>  
        </div>  
        </div>  
        <div class="form-group row">  
        <label class="col-sm-2 col-form-label">ID Producto:</label>  
        <div class="col-sm-4">{{ form.idproducto }}</div>  
        </div>  
        <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Descripcion:</label>  
        <div class="col-sm-4">{{ form.descripcion }}</div>  
        </div>  
        <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Precio:</label>  
        <div class="col-sm-4">{{ form.precio }}</div>  
        </div>  
        <div class="form-group row">  
        <label class="col-sm-1 col-form-label"></label>  
        <div class="col-sm-4">  
        <button type="submit" class="btn btn-primary">Crear</button>  
        </div>  
      </div>  
      </div>  
    </form>  
  </body>  
</html>
