<p>Indice ADM</p>

<p>
    <li>
        <img src="assets/img/iconos/anadir-al-carrito.png">
        <img src="assets/img/iconos/billetera.png">
        <img src="assets/img/iconos/calendario.png">
        <img src="assets/img/iconos/cita.png">
        <img src="assets/img/iconos/cita2.png">
        <img src="assets/img/iconos/examen-de-la-vista.png">
        <img src="assets/img/iconos/lentes.png">
        <img src="assets/img/iconos/servicio-al-cliente.png">
        <img src="assets/img/iconos/tarjeta-de-credito.png">
    </li>
</p>



