<p>Dashboard ADMIN</p>

<p>
    <li>
        <img src="assets/img/iconos/anadir-al-carrito.png" [routerLink]="['/carrito']">
        <img src="assets/img/iconos/billetera.png" [routerLink]="['/pago']">
        <img src="assets/img/iconos/calendario.png" [routerLink]="['/calendario']">
        <img src="assets/img/iconos/cita.png" [routerLink]="['/abmclientes']">
        <img src="assets/img/iconos/cita2.png" [routerLink]="['/servicios']">
        <img src="assets/img/iconos/examen-de-la-vista.png" [routerLink]="['/servicios']">
        <img src="assets/img/iconos/lentes.png" [routerLink]="['/formuproductos']">
        <img src="assets/img/iconos/servicio-al-cliente.png" [routerLink]="['/contacto']">
        <img src="assets/img/iconos/tarjeta-de-credito.png" [routerLink]="['/mis-compras']">
    </li>
</p>



