
* {
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  box-sizing: border-box;
}

h4{
  text-align: center;
}

.form-register {
  width: min(30rem, 100%);
  background: #78baeb;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'Roboto';
  color: rgb(5, 3, 3);
  box-shadow: 7px 13px 37px #000000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #0a6bf2;
  font-family: 'roboto';
  font-size: 18px;
  color: #ffffffff;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: #000000;
  text-decoration: none;
}

.form-register a:hover {
  color: var(--verde);
  text-decoration: underline;
}

.form-register .btn{
  width: min(30rem, 100%);
  margin: 30px auto;
  padding: 15px 10px;
}


/*VALIDACION REGISTRO*/
.invalid{
  border: solid 1px red;
  box-shadow: 0 0 1px red;
}

.error{
  color: red;
  display: block;
  margin-top: 0 !important;
}
