<div class="form-register">
  <!--<form [formGroup]="signupForm" (ngSubmit)="signup()">-->

  <form [formGroup]="myForm" (ngSubmit)="submit()" novalidate>

    <h4>REGISTRARSE</h4>
    
    <!-- Nombre y Apellido -->
    <div class="form-group was-validated">
      <input class="form-control" type="fullname" placeholder="NOMBRE Y APELLIDO" id="fullname" required minlength="5" 
      maxlength="30">
      <span *ngIf="this.myForm.get('username')?.errors?.['required']">
      *Requerido
       </span> 
      <div class="invalid-feedback">
          Por favor, ingresa tu Nombre y Apellido...
      </div>
  </div>
       
       <!-- Usuario -->
       <div class="form-group was-validated">
        <input class="form-control" type="username" placeholder="USUARIO" id="username" required minlength="5"
        maxlength="15">
        <span *ngIf="this.myForm.get('username')?.errors?.['required']">
        *Requerido
         </span> 
        <div class="invalid-feedback">
            Por favor, ingresa tu Usuario...
        </div>
    </div>

    <!-- Email -->
    <div class="form-group was-validated">
      <input class="form-control" type="email" placeholder="CORREO ELECTRÓNICO" id="email" required minlength="8" 
      maxlength="40">
      <span *ngIf="this.myForm.get('username')?.errors?.['required']">
      *Requerido
      </span> 
      <div class="invalid-feedback">
          Por favor, ingresa tu Correo Electrónico (Email invalido)...
      </div>
  </div>
       
    <!-- Contraseña -->
    <div class="form-group was-validated">
      <input class="form-control" type="password" placeholder="CONTRASEÑA" id="password" required minlength="5"
      maxlength="30">
      <span *ngIf="this.myForm.get('password')?.errors?.['required']">
      *Requerido
       </span>
      <div class="invalid-feedback">
          Por favor, ingresa tu Contraseña...
      </div>  
  </div>

    <!-- ¿Acepta Terminos y Condiciones? -->
    <p>
      <input type="checkbox" name="Aceptar" id="checkbox"> Acepto
      <a class="enlaces-negros" target="_blank" href="termycond" required>TERMINOS Y CONDICIONES</a>
    </p>

    <!-- Botón Final -->
    <div class="resultado">{{resultado}}</div>
    <button type="submit"  class="btn btn-primary w-100">REGISTRAR</button>

    <!-- ¿Ya tiene cuenta? -->
    <p>
      <a class="enlaces-negros" href="login">Ya tengo CUENTA</a>
    </p>
  </form>
</div>
