<section id="Productos" class="mt-4">
    <div class="container">
      <div class="row">
        <div class="col text-center text-uppercase p-3">
          <h2>Nuestros productos</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card">
            <img class="card-img-top" src="./assets/img/gafas-serengeti-para-conducir-2.jpg" alt="Foto anteojos de sol">
            <div class="card-body">
              <div class="badges">
                <span class="badge badge-warning">Filtros UV desde 400</span>
              </div>
              <h5 class="card-title">Anteojos de sol</h5>
              <p class="card-text">Desde $5500</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card">
            <img class="card-img-top" src="./assets/img/paula-rx-2020-1024x1022.jpg" alt="Foto anteojos Recetados">
            <div class="card-body">
              <div class="badges">
                <span class="badge badge-warning">Con Blue Filther o Fotocromaticos</span>
              </div>
              <h5 class="card-title">Anteojos Recetados</h5>
              <p class="card-text">Desde $12000</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card">
            <img class="card-img-top" src="./assets/img/contactos.jpg" alt="lentes de contacto">
            <div class="card-body">
              <div class="badges">
                <span class="badge badge-warning">Color o transparentes</span>
              </div>
              <h5 class="card-title">Lentes de contacto </h5>
              <p class="card-text"> desde $9000</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>