<div>
  <div>
      <img class="logoSomos" src="./assets/img/marcaoptica.jpg" alt="Logo de Óptica Temiro">
  </div>
  <div class="text-img">
      <h1 class="title-somos">¿QUIÉNES SOMOS?</h1>
      <p class="p1text-somos">Somos una firma que brinda un servicio de alta calidad a la salud visual. <br> Con la finalidad de atender las diferentes necesidades de nuestros clientes, <br> contamos con un equipo de profesionales altamente capacitados <br> y dispuestos a brindarle, mediante un trato eficiente y cordial, <br> la mejor solución a su problema.</p>
      <h2 class="subtitle-somos">OFRECEMOS</h2>
      <p class="temiro-ofrece"> - Asesoramiento personalizado;<br>- Amplio stock de anteojos y armazones;<br>- Las mejores marcas nacionales e internacionales;<br>- Descuentos y promociones;<br>- Atención de obras sociales;<br>- Stock permanente de lentes de contacto;<br>- Servicio de repuestos y reparaciones. <br></p>
        <img class="imgsomos" src="./assets/img/personal.jpg" alt="Imagen Ilustrativa">
  </div>
</div>

