.logoSomos{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;  
}

.imgsomos{
    margin-top: 2%;
    width: 100%;
    text-align: center;
    padding-top: 5px;
     
}

.title-somos{
    font-size: x-large;
    text-align: center;
}

.p1text-somos{
    font-size: x-large;
    text-align: center;
    margin-bottom: 2%;
    
}

.text-img{
    background-color: var(--white);
    text-align: center;
}

.subtitle-somos{
    margin-top: 2%;
    font-size: x-large;
    text-align: center;
}

.temiro-ofrece{
    text-align: center;
    align-items: center;
    font-size: x-large;
}