<section class="contenedor-d">
    <h1 style="text-align: center;">Detalles del Producto</h1>
       <!--<div class="contenedor-items-d"> -->
        <div class="item-d">
            <h2 style="text-align: center;">{{ prd.descripcion}}</h2>
            <div class="bloque">
                <img src= "{{prd.imagen}}" alt="" class="img-item-d">
                <h4 class="desc-d"><b>Precio:</b>
                &nbsp; &nbsp; $ {{ prd.precio }}</h4>
                <h4 class="desc-d"><b>Características:</b></h4>
                <h5 style="text-align: center;"> {{ prd.detalle }}</h5>
            </div>
            <br>
            <span class="amp-d"><b>Especificaciones del Producto:</b> {{ prd.especificaciones }}</span>
            <div>
                <br>
                <a><button class="boton-item-d" [routerLink]="['/productos']">Regresar</button></a>
                <a><button class="boton-item-d" [routerLink]="['/comprar', prd.precio]">Comprar</button></a>
            </div>

        </div>
</section>
